// .logo-container-expanded {
//     width: 140px;
//     height: 45px;
//     background-image: url('../../../../assets/images/interlis_light.svg');
//     background-position: center;
//     background-size: contain;
//     background-repeat: no-repeat;
// }

// .logo-container-retracted {
//     width: 45px;
//     height: 45px;
//     background-image: url('../../../../assets/images/interlis_light_logo.svg');
//     background-position: center;
//     background-size: contain;
//     background-repeat: no-repeat;
// }

.layout-menu-container {
    .layout-menu {
        li {
            text-align: center;
        }
    }
}
