<div class="layout-sidebar" [ngClass]="{'layout-sidebar-active': app.sidebarActive}" (click)="app.onSidebarClick($event)"
     (mouseover)="app.sidebarActive=true" (mouseleave)="app.sidebarActive=false">
    <div class="sidebar-logo">
        <a href="#"  title="Toggle Menu" (click)="app.onToggleMenuClick($event)">
            <i class="pi pi-angle-double-left" *ngIf="app.staticMenuActive"></i>
            <i class="pi pi-angle-double-right" *ngIf="!app.staticMenuActive"></i>
        </a>
        <a routerLink="/">
            <div alt="logo" class="{{app.sidebarActive || app.staticMenuActive ? 'logo-container-expanded' : 'logo-container-retracted'}}"></div>
        </a>
    </div>

    <div class="layout-menu-container" (click)="onMenuClick()">
        <ul class="layout-menu">
            <ng-container *ngFor="let item of model; let i = index;">
                <ng-container *ngIf="item.visible == null || item.visible === true">
                    <li app-menuitem [item]="item" [index]="i" [root]="true"></li>
                </ng-container>
            </ng-container>
        </ul>
    </div>
</div>
