.module-card {

    .module-card-image {
        padding: 10px;
        
        img {
            width: 100%;
            height: 200px;
        }
    }

    .module-card-title {
        text-align: center;
        font-size: large;
    }
}