.usuario-container {
  width: 100%;
  display: inline-flex;
  color: #666;

  .status-color {
    width: 9px;
    border-radius: 12px;
    //margin-right: 15px;

    &.solicitado {
      background-color: #7e8dcd;
    }

    &.pendente {
      background-color: #ebcb8b;
    }

    &.autorizado {
      background-color: #99ce6b;
    }

    &.cancelado {
      background-color: #d08770;
    }
  }

  .status {
    padding: 3px 5px;
    border-radius: 5px;
    font-weight: bold;

    &.solicitado {
      color: #7e8dcd;
      background-color: lighten(#7e8dcd, 30%);
    }

    &.analise {
      color: darken(#ebcb8b, 15%);
      background-color: lighten(#ebcb8b, 21%);
    }

    &.autorizado {
      color: darken(#99ce6b, 10%);
      background-color: lighten(#fbfcfa00, 30%);
    }

    &.cancelado {
      color: darken(#d08770, 10%);
      background-color: lighten(#d08770, 30%);
    }
  }

  .medico {
    margin-right: 15px;
    color: #888;
  }
  
  .sexo {
    margin-left: auto;
  } 

}
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td  {padding: 1px;}

@media screen and (max-width: 575px) {
  
  .usuario-container .status-color{width: 5px;}
}






