<cs-page-card header="Pesquisa de lote">

    <div class="p-grid p-fluid">
      <div class="p-col-12">
        <form autocomplete="off" (ngSubmit)="consultar()">
          <div class="p-col-12 p-md-4">
            <div class="p-inputgroup">   
              <input pInputText type="text" name="lote" class="form-control" [(ngModel)]="filtro.lote" placeholder="Pesquisar por lote">   
                <button type="button" pButton pRipple label="Pesquisar" type="submit" styleClass="p-button-danger"></button>      
            </div>
        </div>

        </form>
      </div>
      <div>
        <ng-container>
          <p-table 
          [value]="lotes"
          [paginator]="false" 
          [rowHover]="true"
          [responsive]="true"
          [lazy]="true" 
          #tabela>
            
            <ng-template pTemplate="body" let-lote>
              <tr [pSelectableRow]="lote">

                <td>
                  <a class="tb-container" [routerLink]="['/lote/' + lote.id]">
                    <div class="tb-info">
                      <div class="tb-destaque">
                        <h1>{{ lote.nome }}</h1>
                      </div>
                      <div class="tb-subinfo">
                        <div class="tb-subinfo-1">{{ lote.codigo }}</div>
                        <div class="tb-subinfo-2">{{ lote.ean }}</div>
                        <div class="tb-subinfo-3">{{ lote.data_validade }}</div>
                      </div>
                    </div>
                    <div class="tb-flutuante">{{ lote.quantidade }}</div>
                  </a>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </ng-container>
      </div>
    </div>
</cs-page-card>
