<div class="card">
    <div class="p-grid p-justify-center">
        <div class="p-col-12">
            <form
                novalidate
                autocomplete="off"
                [formGroup]="formulario">
                <div class="p-grid p-formgrid p-fluid">

                    <div class="p-col-12">
                        <h1>Contagem de Lote</h1>
                    </div>

                    <div class="form-field p-col-12 p-md-4">
                        <cs-form-field label="nome">
                            <input class="form-control" name="nome" formControlName="nome" type="text" pInputText [attr.disabled]="true">
                        </cs-form-field>
                    </div>

                    <div class="form-field p-col-12 p-md-4">
                        <cs-form-field label="lote">
                            <input class="form-control" name="lote" formControlName="lote" type="text" pInputText [attr.disabled]="true">
                        </cs-form-field>
                    </div>

                    <div class="form-field p-col-12 p-md-4">
                        <cs-form-field label="código">
                            <input class="form-control" name="codigo" formControlName="codigo" type="text" pInputText [attr.disabled]="true">
                        </cs-form-field>
                    </div>

                    <div class="form-field p-col-12 p-md-4">
                        <cs-form-field label="EAN">
                            <input class="form-control" name="ean" formControlName="ean" type="text" pInputText [attr.disabled]="true">
                        </cs-form-field>
                    </div>

                    <div class="form-field p-col-12 p-md-4">
                        <cs-form-field label="Válidade">
                            <input class="form-control" name="data_validade" formControlName="data_validade" type="text" pInputText [attr.disabled]="true">
                        </cs-form-field>
                    </div>

                    <div class="form-field p-col-12 p-md-4">
                        <cs-form-field label="Quantidade">
                            <input class="form-control" name="quantidade" formControlName="quantidade" type="text" pInputText [attr.disabled]="true">                      
                        </cs-form-field>
                    </div>

                    <div class="form-field p-col-12 p-md-4">
                      <cs-form-field label="Quantidade Contada">
                          <input class="form-control" name="quantidade_contada" formControlName="quantidade_contada" type="text" pInputText [attr.disabled]="true">  
                      </cs-form-field>
                    </div>

                    

                </div>
                <div class="p-grid">
                  <div class="p-mt-4 p-mr-2"> 
                    <button type="button" label="Novo Item" pButton icon="pi pi-plus" (click)="showDialog()"></button> 
                  </div>
                    <div class="p-mt-4 p-mr-2">
                        <p-button type="button" label="Salvar"
                                  (click)="atualizarLote()"
                                  [routerLink]="['/lote/pesquisa']"
                                  styleClass="p-button-success"
                                  icon="pi pi-plus">
                          </p-button>
                    </div>
                  <div class="p-mt-4 p-mr-2">
                      <p-button type="button" label="Cancelar" icon="pi pi-times" [routerLink]="['/lote/pesquisa']"></p-button>
                  </div>
              </div>
            </form>
        </div>
    </div>
    <p-dialog header="Conferência lotes" [(visible)]="displayModal" [modal]="true" [draggable]="false" [resizable]="false">
      <ng-container>
        <form [formGroup]="formulario">
          <div class="p-grid">
            <div class="form-field p-col-12">
              <p class="label">EAN</p>
              <input pInputText
                type="text"
                name="ean"
                class="form-control" 
                formControlName="ean"
                [style]="{'width': '100%'}"/>
  
              <p class="label">quantidade contada</p>
              <input pInputText
                type="text"
                name="quantidade_contada"
                class="form-control" 
                formControlName="quantidade_contada"
                [style]="{'width': '100%'}"/>
            </div>
      
            <div class="p-col-12 form-btn-field">
              <div class="p-grid">
                <div class="p-col-6">
                  <p-button type="button"
                    label="Cancelar"
                    (onClick)="cancelarModal()">
                  </p-button>
                </div>
                <div class="p-col-6">
                  <p-button type="submit" 
                    label="Adicionar"
                    styleClass="ui-button-success"
                    (onClick)="cancelarModal()">
                  </p-button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </ng-container>
  </p-dialog>
</div>

