.notification-empty {
    height: 200px;
    background-image: url(../../../../assets/images/notifications.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.notification-msg {
    text-align: center;
}