<div class="layout-rightpanel" (click)="app.onRightPanelClick($event)">
    <div class="right-panel-header">
        <div class="title">
            <span>Hoje</span>
            <h1>{{today}}</h1>
        </div>
        <a href="#" class="rightpanel-exit-button" (click)="app.onRightPanelClose($event)">
            <i class="pi pi-times"></i>
        </a>
    </div>
    <div class="right-panel-content">
        <div class="right-panel-content-row">
            <div class="p-grid p-nogutter">
                
                <div class="p-col-12 notification-empty">
                </div>
                <div class="p-col-12 notification-msg">
                    <h1>Nenhuma notificação hoje.</h1>
                </div>
            </div>
        </div>
    </div>
</div>