$primaryColor: #7e8dcd !default;
$primaryLightColor: scale-color($primaryColor, $lightness: 60%) !default;
$primaryDarkColor: scale-color($primaryColor, $lightness: -10%) !default;
$primaryDarkerColor: scale-color($primaryColor, $lightness: -20%) !default;
$primaryTextColor: #ffffff !default;

$highlightBg: $primaryColor;
$highlightTextColor: $primaryTextColor;

//input
$inputFocusBorderColor:#9EB3CD;
$inputFocusBorderShadowColor:rgba(22,107,212,.25);

//primary button
$primaryButtonTextColor:#ffffff;
$primaryButtonBgColor:#7e8dcd;
$primaryButtonBorderColor:#7e8dcd;
$primaryButtonHoverBgColor:#636d9c;
$primaryButtonHoverBorderColor:#636d9c;
$primaryButtonActiveBgColor:#434a69;
$primaryButtonActiveBorderColor:#434a69;
$primaryButtonFocusBorderShadow:rgba(22,107,212,.5);

@import '../../sass/theme/_theme_light';

