$colors:
		#5E81AC,
		#81A1C1,
		#88C0D0,
		#8FBCBB,
		#D08770,
		#EBCB8B,
		#A3BE8C,
		#B48EAD;

.loading-container {
  overflow: hidden;

  .loading-spinner {
    position: relative;
    height: 50px;
    width: 100%;
    transform: translate(calc(50% - 30px), 15%);

    [class^="loading-dot-"] {
      position: absolute;
      display: block;
      left: 30px;
      width: 6px;
      height: 6px;
      border-radius: 3px;
      transition: all 0.5s;
      animation: circleRotate 4s both infinite;
      transform-origin: 0 250% 0;
    }

    @for $i from 1 through 8 {
      .loading-dot-#{$i} {
        z-index: -#{$i};
        background-color: nth($colors, $i);
        animation-timing-function: cubic-bezier(0.5, 0.3 * $i, 0.9, 0.9);
      }
    }

    @keyframes circleRotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(1440deg);
      }
    }
  }

}
