.form-title-group {
    width: 100%;
    margin-top: 20px;

    p {
        margin: 0;
        text-transform: uppercase;
        font-weight: bold;
    }

    hr {
        border: solid 1px lightgray;
    }
}