$colors:
  #596cbf,
  #7e8dcd,
  #a3addb,
  #edeff8,
  #596cbf,
  #7e8dcd,
  #a3addb,
  #edeff8;

.loading-container {
  overflow: hidden;

  .loading-spinner {
    position: relative;
    height: 90px;
    width: 100%;
    transform: translate(calc(50% - 30px), 15%);

    [class^="loading-dot-"] {
      position: absolute;
      display: block;
      left: 30px;
      width: 12px;
      height: 12px;
      border-radius: 6px;
      transition: all 0.5s;
      animation: circleRotate 4s both infinite;
      transform-origin: 0 250% 0;
    }

    @for $i from 1 through 8 {
      .loading-dot-#{$i} {
        z-index: -#{$i};
        background-color: nth($colors, $i);
        animation-timing-function: cubic-bezier(0.5, 0.3 * $i, 0.9, 0.9);
      }
    }

    @keyframes circleRotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(1440deg);
      }
    }
  }

}
