<cs-page-card header="Informações do lote">
  <div class="p-grid">
    <div *ngIf="lote" class="lote-container p-col-12">
         <!-- TABELA ITENS -->
         <div
         class="p-col-12 lista-itens"
         style="padding: 0;"
         [ngClass]="{'expedicao': lote.emExpedicao, 'manual': manual}">

         <p-table
             #tabelaItens
             [value]="lotes"
             id="tabela-scroll"
             class="tabela-itens"
             dataKey="cod">
             <ng-template
                 pTemplate="body"
                 let-item
                 let-expanded="expanded">

                 <tr
                     [class]="' lote-' + lote.cod"
                     [attr.data-item-lote]="lote"
                     #tr>
                     <td>
                         <div class="item">
                             <div
                                 class="status"
                                 [ngClass]="'lote-' + checkStatusItem(lote)">
                             </div>
                             <div class="info">
                                 <div class="aux">
                                     <span class="codigo" tooltipPosition="bottom">{{ lote.codigo }}</span>
                                     <span class="medicamento">{{ lote.nome }}</span>
                                 </div>
                                 <div class="misc">
                                     <small pTooltip="Código" tooltipPosition="bottom">{{ lote.codigo }}</small>
                                     <small pTooltip="Código de Barras" tooltipPosition="bottom">{{ (lote.codigoBarras != null ? lote.codigoBarras : 'SEM CÓDIGO DE BARRAS') }}</small>
                                     <small pTooltip="Fabricante" tooltipPosition="bottom">{{ (item.fabricante != null ? item.fabricante : 'SEM FABRICANTE') }}</small>
                                     <small pTooltip="Lotes" tooltipPosition="bottom">{{ ajustarTextoLote(item.lotes) }}</small>
                                 </div>
                             </div>
                             <div class="quantidade" #itemQuantidade>
                                 <div class="visualizar">
                                     <div
                                         *ngIf="pedido.emExpedicao && participaExpedicao"
                                         class="overlay"
                                         (click)="editarQuantidade(itemQuantidade)">
                                         <span
                                             pTooltip="Alterar Quantidade"
                                             tooltipPosition="bottom">
                                             ALTERAR
                                         </span>
                                     </div>
                                     <div class="unidades">
                                         {{ item.quantidadeConferida | number:'1.0-0':'pt_BR' }}
                                         <small>/ {{ item.quantidade }} {{ item.unidade }}</small>
                                     </div>
                                 </div>
                                 <div class="quantidade-manual">
                                     <input
                                         type="text"
                                         value=""
                                         pKeyFilter="pint"
                                         pInputText
                                         autofocus="autofocus"
                                         (keydown)="onKeydownQuantidadeManual($event, tr, item)">
                                     <small>/ {{ item.quantidade }} {{ item.unidade }}</small>
                                 </div>
                             </div>

                         </div>
                     </td>
                 </tr>
             </ng-template>
         </p-table>
     </div> <!-- end TABELA ITENS -->

    </div>
  </div>
</cs-page-card>


<!-- <cs-page-card header="Informações do lote">
    <div class="p-grid">
          <div *ngIf="lote" class="lote-container p-col-12">
            <div class="info">
              <span class="numero">
                {{ lote.lote }}
              </span>
              <span class="titulo">
                {{ lote.nome }}
              </span>
              
              <hr>
                <div class="misc">
                  <small>{{ lote.codigo }}</small>
                  <small>{{ lote.ean }}</small>
                  <small>{{ lote.data_validade | date:"dd/MM/yyyy" }}</small>
                  <small>{{ lote.quantidade }}</small>
                  <small>{{ lote.quantidade_contada }}</small>
                </div>
            </div>
        </div>
        <div class="p-grid">
          <div class="p-mt-4 p-mr-2">
            <button pButton pRipple type="button" (click)="atualizar(lote)" icon="pi pi-times" label="Atualizar" class="p-button-outlined p-button-warning"></button>
          </div>
          <div class="p-mt-4 p-mr-2">
              <p-button type="button" label="Cancelar" icon="pi pi-times" [routerLink]="['/lote/pesquisa']"></p-button>
          </div>
      </div>
    </div>
</cs-page-card> -->
