:host ::ng-deep .ui-card,
:host ::ng-deep .ui-card-body,
:host ::ng-deep .ui-card-body .ui-card-content,
:host ::ng-deep .ui-card-body .ui-card-content #tabela-scroll .ui-table {
    height: 100%;
}

:host ::ng-deep .ui-card {
    overflow: hidden;
}

:host ::ng-deep .ui-card-body {
    padding: 0;
}

:host ::ng-deep #tabela-scroll .ui-table {
    max-height: calc(100% - 1px);
    overflow: hidden;
    overflow-y: auto;
}

:host ::ng-deep .p-grid.no-margin {
    margin: 0;
}

.block-content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    color: #fff;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;

    p {
        width: 100%;
        margin: 8px 0;
        font-size: 20px;
    }
}

.container-not-selected {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: -70px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.4);
    background: rgba(255, 255, 255, 0.4);

    & > * {
        width: 100%;
        margin: 5px;
        text-align: center;
    }
}

.btn-voltar {
    width: 50px;
    color: #aaa;
    padding: 12px;
    border-radius: 50px;
    transition: all .2s;

    &:hover {
        background: rgba(0, 0, 0, 0.05);
        color: #888;
        cursor: pointer;
    }
}

:host ::ng-deep .ui-button.btn-outline {
    background-color: transparent;
    color: #5093e2;

    &:enabled:hover {
        background-color: #fafafa;
        color: #5093e2;
        border-color: #5093e2;
    }

    &.ui-button-danger {
        background-color: transparent;
        color: #ce5059;

        &:enabled:hover {
            background-color: #fafafa;
            color: #ce5059;
            border-color: #ce5059;
        }
    }
}


.pedido {
    display: flex;
    width: 100%;
    padding: 3px 0 3px 10px;

    .status {
        width: 10px;
        min-width: 10px;
        border-radius: 30px;

        &.concretizado {
            background: #59ab90;
            border-color: #59ab90;
        }
        &.pendente,
        &.cadastrado {
            background: #da9e47;
            border-color: #da9e47;
        }
        &.cancelado {
            background: #ce5059;
            border-color: #ce5059;
        }
        &.confirmado {
            background: #5093e2;
            border-color: #5093e2;
        }
    }

    .info {
        flex-grow: 1;
        padding: 10px 10px 12px 25px;
        vertical-align: middle;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: baseline;

        .numero {
            font-size: 2rem;
            font-weight: bold;
            margin-right: 15px;
            vertical-align: baseline;
        }

        .cliente {
            padding: 0 5px;
            font-size: 1.8rem;
            vertical-align: baseline;
        }

        .misc {
            display: block;

            small {
                text-transform: uppercase;
                margin-right: 25px;
                color: #888;
                background: transparent;
                box-shadow: none;
                font-weight: normal;
                font-size: 13px;
            }
        }
    }

    .quantidade {
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 150px;
        min-width: 150px;
        color: #888;
        text-align: center;

        .unidades {
            width: 100%;
            flex-grow: 1;
            font-size: 1.4rem;
            font-weight: bold;
        }
    }
}

.expedicao-info {

    .p-col-3 div {
        font-size: 1.2em;
    }
    .p-col-3 .label {
        font-size: .8em;
    }

    .ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.col-separador {
    position: relative;

    .btn-alterar-separador {
        position: absolute;
        color: #5093e2;
        font-size: .8em !important;
        text-decoration: underline;
        cursor: pointer;
    }

    .btn-cancelar-separador {
        position: absolute;
        color: #ce5059;
        font-size: .8em !important;
        text-decoration: underline;
        cursor: pointer;
    }
}

.progresso {
    max-width: 350px;
    text-align: center;

    .progresso-label {
        .valor {
            font-size: 2rem;
            font-weight: bold;
        }
    }
}

:host ::ng-deep .ui-progressbar {
    height: 10px;
    border: solid 1px #5093e2;
    border-radius: 50px;
    box-shadow: none;
    background-color: transparent;

    .ui-progressbar-value {
        background-color: #5093e2;
        border-radius: 50px;
    }

    .ui-progressbar-label {
        display: none !important;
    }
}


.documentos {
    display: inline;

    badge {
        margin-left: 10px;
    }
}

p-card h2 {
    font-size: 1rem;
    margin: 3px 15px 0 15px;
    color: $primary;
}

.valor-pedido {
    margin-left: 20px;
    color: #888;

    small {
        font-size: 1.1rem;
    }

    h3 {
        display: inline-block;
        margin: -5px 0 0;
        font-size: 2rem;
        font-weight: normal;
    }
}

.prazo-entrega {
    position: relative;

    h3 {
        margin: -5px 0 0 20px;
        font-size: 2rem;
        font-weight: normal;
        color: #888;

        &.pedido-atrasado {
            color: $danger;
        }
    }

    a {
        position: absolute;
        bottom: -13px;
        left: 15px;
        text-decoration: underline;
    }
}

:host ::ng-deep .ui-autocomplete .ui-autocomplete-dropdown {
    height: 32px;

    .pi.ui-button-icon-left {
        top: 55%;
        left: .95em;
    }
}

::ng-deep .btn-group {
    display: inline-block;
    margin-right: 20px;

    .ui-button {
        border-radius: 0 !important;
        border-left-width: 0;
    }

    p-button {
        border-radius: 3px;
    }

    p-button:first-child .ui-button {
        border-left-width: 1px;
        border-top-left-radius: 3px !important;
        border-bottom-left-radius: 3px !important;
    }

    p-button:last-child .ui-button {
        border-top-right-radius: 3px !important;
        border-bottom-right-radius: 3px !important;
    }
}

#manual-quantidade {
    margin: 0 10px 0 0;
    width: 70px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #888;
    text-align: right;
}

#manual-codigo {
    width: 320px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #888;


    @media screen and (max-width: 991px) {
        width: 220px;
    }
}

::ng-deep .ui-button-icon-only .ui-button-icon-left {
    left: 42%;
}

.toggle-expedicao-icon {
    display: none;

}

@media screen and (max-width: 991px) {
    .toggle-expedicao-text {
        display: none;
    }
    .toggle-expedicao-icon {
        display: inline-block;
    }
}

.expedicao-manual {
    width: 420px;

    ::-webkit-input-placeholder { /* Edge */
        opacity: .4;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        opacity: .4;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        opacity: .4;
    }

    ::placeholder {
        opacity: .4;
    }


    @media screen and (max-width: 991px) {
        width: 320px;
    }
}

.expedicao-operador {
    font-size: .8rem;
    padding-top: 0;
    padding-bottom: 12px;
    margin-top: -8px;
}


.impressao {
    margin: 0;

    badge + badge {
        margin-left: 5px;
    }
}
:host ::ng-deep .ui-table {
    padding: 8px;
}
:host ::ng-deep .ui-table .ui-table-tbody > tr {
    background-color: transparent;
    transition: transform .1s;
}
:host ::ng-deep .ui-table .ui-table-tbody > tr:nth-child(even) {
    background-color: transparent;
}
:host ::ng-deep .ui-table .ui-table-tbody > tr > td {
    padding: 0;
    display: block;
}

.tabela-itens {
    table, tr, td, th {
        border: none;
    }

    table tbody tr td {
        padding: 0;
    }

    tr:last-child {
        .item {
            border-bottom: 1px solid #eaeaea;
        }
    }

    .item {
        display: flex;
        padding: 3px 0 3px 3px;
        border-top: 1px solid #eaeaea;

        .status {
            display: block;
            width: 10px;
            min-width: 10px;
            border-radius: 12px;
            background: #5093e2;
            border-color: #010202;

            &.item-completo {
                background: #59ab90;
                border-color: #59ab90;
            }
            &.item-incompleto {
                background: #da9e47;
                border-color: #da9e47;
            }
        }

        .info {
            position: relative;
            height: 50px;
            flex-grow: 1;
            padding: 15px 10px 15px 25px;
            vertical-align: middle;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            vertical-align: baseline;

            .aux {
                transition: margin .3s;
            }

            .codigo {
                font-size: 1rem;
                font-weight: bold;
                margin-right: 15px;
                vertical-align: baseline;
            }

            .medicamento {
                padding: 0 5px;
                font-size: 1rem;
                vertical-align: baseline;
            }

            .misc {
                opacity: 0;
                transition: opacity .3s;

                small {
                    text-transform: uppercase;
                    margin-right: 25px;
                    color: #888;
                    background: transparent;
                    box-shadow: none;
                    font-weight: normal;
                    font-size: 13px;
                }
            }
        }

        .quantidade {
            position: relative;
            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 170px;
            padding-right: 15px;
            min-width: 100px;
            color: #888;
            text-align: right;

            .visualizar {
                display: block;
                width: 100%;
            }

            .overlay {
                opacity: 0;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transition: all .2s;
                cursor: pointer;
                z-index: 1;

                span {
                    display: inline-block;
                    vertical-align: middle;
                    color: #5093e2;
                    text-decoration: underline;
                    font-weight: bold;
                    margin-right: 17px;
                }

                &::before {
                    content: "";
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                }

                &:hover {
                    opacity: 1;

                    & + .unidades {
                        opacity: 0;
                    }
                }
            }

            .unidades {
                width: 100%;
                flex-grow: 1;
                font-size: 1.2rem;
                font-weight: bold;
                transition: opacity .2s;

                small {
                    font-size: .9rem;
                    font-weight: normal;
                }
            }

            .quantidade-manual {
                display: none;
                width: 100%;
                text-align: right;

                input {
                    width: 80px;
                    display: inline-block;
                    text-align: right;
                }
                small {
                    display: inline-block;
                    font-size: .9rem;
                }
            }

            &.edicao {
                .visualizar {
                    display: none;
                }
                .quantidade-manual {
                    display: block;
                }
            }
        }
    }
}

:host ::ng-deep .ui-table .ui-table-tbody > tr.destaque {
    transform: scale(1.01, 1.01);
    background: #fff;
    position: relative;

    & > td .item {
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        .info {
            height: 75px;

            .codigo {
                font-size: 1.8rem !important;
            }
            .medicamento {
                font-size: 1.8rem !important;
            }
        }
        .quantidade {
            .unidades {
                font-size: 1.8rem !important;
                small {
                    font-size: 1rem !important;
                }
            }
            .quantidade-manual input {
                width: calc(100% - 3px);
                font-size: 1.2rem;
            }
        }
    }
}

:host ::ng-deep .ui-table .ui-table-tbody tr.destaque.first::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0px -15px 25px 0px rgba(61, 108, 152, 0.5);
}
:host ::ng-deep .ui-table .ui-table-tbody tr.destaque.last::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0px 15px 25px 0px rgba(61, 108, 152, 0.5);
}
// :host ::ng-deep .ui-table .ui-table-tbody tr.destaque.first.last {
//     box-shadow: 0px -15px 25px 0px rgba(61, 108, 152, 0.5), 0px 15px 25px 0px rgba(61, 108, 152, 0.5);
// }

:host ::ng-deep .ui-table .ui-table-tbody > tr.destaque,
:host ::ng-deep .ui-table .ui-table-tbody > tr:hover {
    .item .info {
        .aux {
            margin-top: -6px !important;
        }
        .misc {
            opacity: 1 !important;
        }
    }
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.grid-expedicao {
    height: calc(100% - 190px);
    margin: 0;
    align-content: flex-start;
    color: #666;
}

.align-bottom {

    & > * {
        vertical-align: bottom;
    }

    &::before {
        content: '';
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: bottom;
    }
}

.lista-itens {
    height: calc(100% - 328px);

    &.expedicao {
        height: calc(100% - 348px);

        &.manual {
            height: calc(100% - 174px);
        }
    }
}