$gutter: .5rem; //for primeflex grid system

@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/prismjs/themes/prism-coy.css";
@import "../node_modules/@fullcalendar/core/main.min.css";
@import "../node_modules/@fullcalendar/daygrid/main.min.css";
@import "../node_modules/@fullcalendar/timegrid/main.min.css";
@import "assets/demo/flags/flags.css";

//$primary: #00B0FF !default;

$back-color: #eceff4;

// html, body {
//     height: 100%;
// }

body {
    background-color: $back-color;
}

// Resolve o problema da barra de rolagem horizontal
// quando se usa o primeflex de grid
.p-grid {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

// Resolve o problema de label sobreposta e tamanho 
// limitado do campo de texto
.ui-float-label {
    margin-bottom: 30px !important;

    .float-input {
        width: 100%;
    }
}

// junto com a tag [style] no proprio elemento deixa 
// o autocomplete com largura de 100%
body .ui-autocomplete .ui-autocomplete-input {
    width: 100%;
}

body .ui-listbox {
    width: 100%;
}

body .ui-inputswitch .ui-inputswitch-slider {
    background-color: #a2a3a5;
}

// solucao para um bug na formatacao da legenda do fildset do primeng
fieldset {
    legend {
        font-size: 1em !important;
        width: auto !important;
    }
}

.form-field {  
    p.label {
      margin: 0 0 5px 0;
      padding-top: 20px;
      font-variant-caps: all-small-caps;
  
      &.label-button > * {
        vertical-align: top;
      }
      &.label-button small {
        margin-top: -10px;
      }
    }
}

.ui-inputtext {
    width: 100%;
}
