.tb-container{
  
    display: flex;
    position: relative;
    width: 100%;

    .tb-status{
        display: inline-block;
        width: 5px;
        margin: 5px 8px;
        border-radius: 12px;
        background-color: #7e8dcd;

        &.solicitado {
            background-color: #7e8dcd;
        }
      
        &.pendente {
            background-color: #ebcb8b;
        }
      
        &.autorizado {
            background-color: #99ce6b;
        }
      
        &.cancelado {
            background-color: #d08770;
        }

        @media screen and (min-width: 576px){
            width: 8px;
        }
    }

    .tb-info{
        display: inline-block;
        width: calc(100% - 21px);
        padding: 8px;

        .tb-destaque{
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding: 5px 0px;
            color: #666;

            .medico {
                margin-right: 15px;
                color: #888;
            }

            .sexo-color-h {
                color: darken(#1164e2, 10%);
                background-color: lighten(#fbfcfa00, 30%);
            }
              
            .sexo-color-m {
                color: darken(#db11e2, 10%);
                background-color: lighten(#fbfcfa00, 30%);
            }

            h1{
                display: inline-block;
                font-size: 16px;
                margin: 0px;
                text-transform: uppercase;
                vertical-align: middle;

                @media screen and (min-width: 576px){
                    font-size: 24px;
                }

                @media screen and (min-width: 768px){
                    font-size: 2.2rem;
                    font-weight: normal;
                }
            }

            h2{
                display: inline-block;
                font-size: 14px;
                margin: 0px;
                margin-left: 10px;
                vertical-align: middle;

                i{
                    margin-left: 5px;
                    vertical-align: middle;

                    @media screen and (min-width: 576px){
                        margin-left: 8px;
                    }
                }

                @media screen and (min-width: 576px){
                    font-size: 18px;
                    margin-left: 18px;
                }
            }

        }

        .tb-subinfo {
            padding-bottom: 5px;
             div {
                display: inline-block;
                text-transform: uppercase;
                font-size: 12px;
                margin-right: 30px;
                color: #888;

                @media screen and (min-width: 576px){
                    font-size: 16px;
                }
            }
        }
        
    }

    .tb-flutuante{
        display: none;
        padding: 2px 8px; 
        position: absolute;
        background-color: rgba(255,255,255, .6);
        top: 0px;
        right: 0px;
        font-size: 10px;

        @media screen and (min-width: 576px){
            display: block;
            font-size: 14px;
        }

        @media screen and (min-width: 768px){
            font-size: 16px;
        }
    }
}