<div class="layout-topbar">
    <div class="layout-topbar-wrapper">
        <div class="layout-topbar-left">
            <div class="layout-topbar-logo-wrapper">
                <a href="#" class="layout-topbar-logo">
                    <img src="../../../../assets/images/interlis_light.svg" alt="mirage-layout" style="width: 140px;"/>
                </a>
            </div>

            <a href="#" class="sidebar-menu-button" (click)="app.onMenuButtonClick($event)">
                <i class="pi pi-bars"></i>
            </a>

            <a href="#" class="topbar-menu-mobile-button" (click)="app.onTopbarMobileMenuButtonClick($event)">
                <i class="pi pi-ellipsis-v"></i>
            </a>
        </div>
        <div class="layout-topbar-right fadeInDown">
            <ul class="layout-topbar-actions">
                <!-- <li #profile class="topbar-item profile-item" [ngClass]="{'active-topmenuitem': app.activeTopbarItem === profile}">
                    <a href="#" (click)="app.onTopbarItemClick($event,profile)">
                    <span class="profile-image-wrapper">
                        <img src="../../../../assets/images/profile_man.svg" alt="mirage-layout" />
                    </span>
                        <span class="profile-info-wrapper">
                    </span>
                    </a>
                    <ul class="profile-item-submenu fadeInDown">

                        <li class="layout-submenu-footer">
                            <button class="signout-button pi pi-fw pi-sign-out" >Sair</button>
                        </li>
                    </ul>
                </li> -->
                <!-- ICONE PARA ABRIIR O PANEL DIREITO -->
                <li>
                    <a href="#" class="layout-rightpanel-button" (click)="app.onRightPanelButtonClick($event)">
                        <i class="pi pi-bell"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
