.form-field {
    margin: 0;
  
    p.label {
      margin: 0 0 5px 0;
      font-variant-caps: all-small-caps;
  
      &.label-button > * {
        vertical-align: top;
      }
      &.label-button small {
        margin-top: -10px;
      }
      &.error {
        color: #a94442;
      }
    }

    p.message {
        margin: 5px 0 0 0;
        font-size: smaller;

        &.error {
            color: #a94442;
        }
        &.success {
            color: green;
        }
    }
}